.quote-container{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 5fr;
    border: 1px solid;
}

.quote-price{
    grid-column: 2;
    grid-row: 1 / span 2;
    border-left: 1px solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.quote-header{
    background-color: blue;
    color:white;
    line-height: 22px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

.quote-body{
    align-self: center;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.quote-channel{
    font-size: 14px;
    font-family: sans-serif;
    align-self: center;
}

.quote-channel-title{
    display: flex;
    border-bottom: 1px solid;
}

.quote-days-delivery{
    font-family: sans-serif;
    color: #4129c7;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.quote-estimated-delivery{
    font-size: 15px;
    font-family: sans-serif;
}

.quote-delivery-dates{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 14px;
}

.quote-channel-body{
    text-align: center;
}